
body  {
  background-image: url(background_translucent.png);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;   
}

